$rosewater:   #f5e0dc;
$flamingo:    #f2cdcd;
$pink:        #f5c2e7;
$mauve:       #cba6f7;
$red:         #f38ba8;
$maroon:      #eba0ac;
$peach:       #fab387;
$yellow:      #f9e2af;
$green:       #a6e3a1;
$teal:        #94e2d5;
$sky:         #89dceb;
$sapphire:    #74c7ec;
$blue:        #89b4fa;
$lavender:    #b4befe;
$text:        #cdd6f4;
$subtext1:    #bac2de;
$subtext0:    #a6adc8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;
$surface2:    #585b70;
$surface1:    #45475a;
$surface0:    #313244;
$base:        #1e1e2e;
$mantle:      #181825;
$crust:       #11111b;

$font: 16px;

// Reset everything and global options

* {
    font-family: 'Monospace';
    font-size: $font;
    -gtk-icon-size: $font;
    color: $text;
    background: none;
    transition: all 0.2s ease;

    padding: 0px;
    margin: 0px;
    // Debugging
    //border: 1px solid;
}

.Background {
    padding: 20px;
    margin: 5px;
    background-color: $base;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;

    .CavaBackground {
        border: 2px solid $sapphire;
        border-radius: 10px;
        background-color: $base;
        .CavaContainer {
            color: $sapphire;
        }
        .Media {
            padding: 5px;
            border-radius: 0 0 7px 7px;
            .MediaLabel {
                border-radius: 0;
            }
        }
        .MediaPlaying {
            background-color: $sapphire;
            .MediaLabel {
                color: $base;
            }
            &:hover {
                background-color: $base;
                .MediaLabel {
                    color: $sapphire;
                }    
            }
        }
        .MediaNotPlaying {
            background-color: $base;
            .MediaLabel {
                color: $sapphire;
            }
            &:hover {
                background-color: $sapphire;
                .MediaLabel {
                    color: $base;
                }   
            }
        }
    }

    .DateTime {
        * {
            transition: all 0.2s ease-in-out;
            border-radius: 10px;
        }
        .Time {
            button {
                outline: none;
                box-shadow: none;
            }
            .TimeLabel {
                font-weight: bold;
                font-size: 90px;
            }
            transition: all 0.2s ease-in-out;
            popover > contents {
                padding: 5px;
                background: $mantle;
                border: 1px solid $sapphire;

                .CalendarContainer {
                    background-color: $base;
                    color: $text;

                    label.today {
                        background-color: $blue;
                        border: none;
                        color: $base;
                    }

                    label:selected {
                        background-color: $lavender;
                        border: none;
                        color: $base;
                    }
                }
            }
            &:hover {
                .TimeLabel {
                    color: $mantle;
                }
                background-color: $sapphire;
            }

        }
        .Date {
            font-size: 40px;
        }
    }

    &:hover {
        opacity: 0.9;
    }
}

.SystemMonitor, .AudioControl, .SystemTray, .Wired, .Wifi, .MiniTime {
    background-color: $base;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 0px 2px;
    margin: 0px 2px;
}

.Network {
    padding: 0px 4px;
}

.CpuUsage, .MemoryUsage, .Battery , .IconBtn, .LabelAudioControl, .AudioControlBtn, .TrayItem, .Wired, .Wifi, .MiniTime {
    padding: 1px 4px;
}

.BatteryIcon, .CpuUsageIcon, .MemoryUsageIcon {
    margin: 0px 5px 0px 0px;
}

.CpuUsage {
    .CpuUsageIcon, .CpuUsageLabel {
        color: $green;
    }
}

.MemoryUsage {
    .MemoryUsageIcon, .MemoryUsageLabel {
        color: $peach;
    }
}

.Battery {
    .BatteryIcon, .BatteryLabel {
        color: $lavender;
    } 
}

.BatteryCritical {
    .BatteryIcon, .BatteryLabel {
        color: $red;
    }
}

.TrayItem {
    popover {
        *{
            outline: none;
            box-shadow: none;
        }        
    }

    popover.background {
        background: none;
    }
    popover.menu {
        background-color: $crust;
        border-radius: 10px;
        padding: 0px;
    }

    popover.menu > contents {
        padding: 2px 0;
    }

    popover.menu modelbutton {
        padding: 2px 0px;
        transition: all 0.1s ease;
        border-radius: 4px;
        margin: 0 2px;
    }

    popover.menu modelbutton:hover {
        background: rgba($base, 0.1);
    }

    popover.menu modelbutton:active {
        background: rgba($base, 0.2);
    }

    popover.menu separator {
        background: rgba($base, 0.1);
        margin: 1px 0;
    }
}