$rosewater:   #f5e0dc;
$flamingo:    #f2cdcd;
$pink:        #f5c2e7;
$mauve:       #cba6f7;
$red:         #f38ba8;
$maroon:      #eba0ac;
$peach:       #fab387;
$yellow:      #f9e2af;
$green:       #a6e3a1;
$teal:        #94e2d5;
$sky:         #89dceb;
$sapphire:    #74c7ec;
$blue:        #89b4fa;
$lavender:    #b4befe;
$text:        #cdd6f4;
$subtext1:    #bac2de;
$subtext0:    #a6adc8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;
$surface2:    #585b70;
$surface1:    #45475a;
$surface0:    #313244;
$base:        #1e1e2e;
$mantle:      #181825;
$crust:       #11111b;

$font: 16px;

button, button *, popover, popover *, * {
    font-family: 'Monospace';
    font-size: $font;
    -gtk-icon-size: $font;

    color: $text;
    background: transparent;

    border-width: 0;
    border-style: none;
    box-shadow: none;
    outline: none;

    margin: 0;
    padding: 0;
}


.Background {
    padding: 20px;
    margin: 5px;
    background-color: $base;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;

    .Media {
        border: 2px solid $sapphire;
        border-radius: 10px;
        background-color: $base;
        * { transition: all 0.2s ease-in-out; }
        .MprisInfo {
            padding: 5px;
            border-radius: 0 0 7px 7px;
            background-color: $base;
            .MprisLabel { color: $sapphire; }
        }
        .CavaContainer {
            border-radius: 6px 6px 0px 0px;
            color: $sapphire;
            background: none;
        }
    }

    .MediaPlaying {
        .CavaContainer {
            color: $sapphire;
            background: none;
        }
        .MprisInfo{
            background-color: $sapphire;
            .MprisLabel { color: $base; }
        }

        &:hover {
            .CavaContainer {
                color: $base;
                background-color: $sapphire;
            }
            .MprisInfo{
                background-color: $base;
                .MprisLabel { color: $sapphire; }
            }
        }
    }

    .DateTime {
        * {
            transition: all 0.2s ease-in-out;
            border-radius: 10px;
        }
        .Time {
            .TimeLabel {
                font-weight: bold;
                font-size: 90px;
            }
            transition: all 0.2s ease-in-out;
            popover > contents {
                padding: 5px;
                background: $surface0;
                border: 2px solid $sapphire;

                .CalendarContainer {
                    background-color: $base;
                    color: $text;

                    label.today {
                        background-color: $blue;
                        border: none;
                        color: $base;
                    }

                    label:selected {
                        background-color: $lavender;
                        border: none;
                        color: $base;
                    }
                }
            }
            &:hover {
                .TimeLabel {
                    color: $mantle;
                }
                background-color: $sapphire;
            }

        }
        .Date {
            font-size: 40px;
        }
    }

    &:hover {
        opacity: 0.9;
    }
}

.SystemMonitor, .AudioControl, .SystemTray, .Wired, .Wifi, .MiniTime {
    background-color: $base;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 0px 2px;
    margin: 0px 2px;
}

.CpuUsage, .MemoryUsage, .Battery , .IconBtn, .LabelAudioControl, .AudioControlBtn, .TrayItem, .Wired, .Wifi, .MiniTime {
    padding: 1px 4px;
}

.BatteryIcon, .CpuUsageIcon, .MemoryUsageIcon {
    margin: 0px 5px 0px 0px;
}

.CpuUsage {
    .CpuUsageIcon, .CpuUsageLabel {
        color: $green;
    }
}

.MemoryUsage {
    .MemoryUsageIcon, .MemoryUsageLabel {
        color: $peach;
    }
}

.Battery {
    .BatteryIcon, .BatteryLabel {
        color: $lavender;
    }
}

.BatteryCritical {
    .BatteryIcon, .BatteryLabel {
        color: $red;
    }
}

.TrayItem {
    popover.menu {
        margin: 10px;
        background-color: $surface0;
        border-radius: 10px;
        padding: 5px;
    }

    popover.menu > contents {
        padding: 5px;
    }

    popover.menu modelbutton {
        padding: 2px;
        border-radius: 4px;
        margin: 0 2px;
    }

    popover.menu modelbutton:hover {
        background: rgba($surface1, 0.2);
    }

    popover.menu modelbutton:active {
        background: rgba($surface1, 0.4);
    }
}

tooltip {
  background-color: $base;
  color: $text;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid $surface0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
